@import "../components/_variables";

.intro {
  display: flex;
  flex-direction: column;
  margin: 150px 25px 30px 25px;

  &__header {
    color: $fontColor;
    margin-bottom: 20px;
  }

  &__text {
    color: $tertiaryColor;
  }
}