@import "../components/_variables";

.tasks {
  display: flex;
  flex-direction: column;
  margin: 0 25px;

  &__header {
    color: $fontColor;
    margin-bottom: 20px;
  }

  &__start-text {
    color: $tertiaryColor;
  }
}