@import "./_variables";

.nav__btn {
  background-image: linear-gradient(180deg, #e1a0a0, $btnColor);
  box-shadow: 0 10px 40px #6b3838;
  padding: 12px 40px;
  color: $fontColor;
}

.nav__btn:hover {
  background-image: linear-gradient(180deg, #e2c1c1, #ea8282);
}