$primaryColor: #232229;
$secondaryColor: #2B2A33;
$tertiaryColor: #6C6A7C;
$fontColor: #FFFFFF;
$btnColor: #E58181;

$primaryFontStyle: 'Jost', sans-serif;

// for mobile
$largeFontMobile: 36px;
$largeFontDesktop: 48px;
$mediumFont: 24px;
$regularFont: 16px;