@charset "UTF-8";
.nav__btn {
  background-image: linear-gradient(180deg, #e1a0a0, #E58181);
  box-shadow: 0 10px 40px #6b3838;
  padding: 12px 40px;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
}

.nav__btn:hover {
  background-image: linear-gradient(180deg, #e2c1c1, #ea8282);
  cursor: pointer;
}

.input__btn {
  background-color: #E58181;
  color: #232229;
  border-radius: 50%;
  padding: 0px 5px;
  border: none;
}

.task__btn, .fa-pencil-alt {
  background-color: #2B2A33;
  color: #E58181;
  border: none;
}

.delete__btn {
  background-image: linear-gradient(180deg, #e1a0a0, #E58181);
  color: #FFFFFF;
  padding: 12px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: none;
}
.delete__btn > p {
  padding-right: 10px;
}

.delete__btn:hover {
  cursor: pointer;
}

* {
  font-family: "Jost", sans-serif;
}

.nav__logo {
  font-size: 24px;
  font-weight: 500;
}
.nav__btn {
  font-size: 16px;
  font-weight: 700;
}

.intro__header {
  font-size: 36px;
  font-weight: 600;
}
.intro__text {
  font-size: 16px;
  font-weight: 400;
}

.input__task {
  font-size: 16px;
  font-weight: 400;
}

.tasks__header {
  font-size: 16px;
  font-weight: 500;
}
.tasks__start-text {
  font-size: 16px;
  font-weight: 400;
}

.tasks__text {
  font-size: 16px;
  font-weight: 500;
}
.tasks__btn {
  font-size: 16px;
}

.delete__header {
  font-size: 16px;
  font-weight: 600;
}
.delete__btn {
  font-size: 16px;
  font-weight: 700;
}

.nav {
  display: flex;
  margin: 20px 25px;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  color: #FFFFFF;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 150px 25px 30px 25px;
}
.intro__header {
  color: #FFFFFF;
  margin-bottom: 20px;
}
.intro__text {
  color: #6C6A7C;
}

.input {
  display: flex;
  border: 1px dashed #6C6A7C;
  background-color: #2B2A33;
  border-radius: 10px;
  margin: 5px 25px 50px 25px;
  padding: 20px;
  justify-content: space-between;
}
.input__task {
  background-color: #2B2A33;
  border: none;
  color: #6C6A7C;
  margin-left: 10px;
}

.tasks {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}
.tasks__header {
  color: #FFFFFF;
  margin-bottom: 20px;
}
.tasks__display {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.tasks__display .task {
  display: flex;
  background-color: #2B2A33;
  padding: 12px;
  margin-bottom: 1px;
  align-items: center;
  justify-content: space-between;
}
.tasks__display .task__checkbox {
  -webkit-appearance: none;
  transform: scale(1.5);
  padding: 5px;
  margin-left: 15px;
  background-color: #2B2A33;
  border: 1px solid #E58181;
}
.tasks__display .task__checkbox:active, .tasks__display .task__checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.tasks__display .task__checkbox:checked {
  background-color: #E58181;
  color: #FFFFFF;
}
.tasks__display .task__checkbox:checked:after {
  content: "✔";
  font-size: 16px;
  position: absolute;
  top: -8px;
  left: -1px;
  color: #FFFFFF;
  font-weight: 400;
}
.tasks__display .task__text {
  text-align: left;
  color: #FFFFFF;
}
.tasks__start-text {
  color: #6C6A7C;
}

.delete {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  padding: 25px;
  justify-content: space-between;
  background-color: #2B2A33;
  align-items: center;
}
.delete__header {
  color: #FFFFFF;
}

html {
  background-color: #232229;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}